@CHARSET "ISO-8859-1";


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background:transparent;
  background: rgba(0, 0 ,0 ,.6);
  overflow-x: hidden;
  padding: 20px;
}

.sidenav a {
  
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  background:transparent;
	border:none;
	outline:none;
	color: white;
	background: #03a9f4;
	padding:10px 5px ;
	cursor:pointer;
	border-radius:15px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
  font-size: 23px;
  padding: 0px 20px;
}
.LoginAdmin{
		padding:5px 5px ;
	position:absolute;
	right:10px;
	top:10px;
	color: white;
	background: transparent;
	cursor:pointer;
	border-radius:15px;
	background: rgba(0, 0 ,0 ,.5);
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.title{
	background-color: gray;
}


