<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginAdmin</servlet-name>
  	<display-name>LoginAdmin</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.LoginAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterNewSpace</servlet-name>
  	<display-name>RegisterNewSpace</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.RegisterNewSpace</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCustomer</servlet-name>
  	<display-name>LoginCustomer</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.LoginCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>book</servlet-name>
  	<display-name>book</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.book</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getTables</servlet-name>
  	<display-name>getTables</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.getTables</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SpaceChoose</servlet-name>
  	<display-name>SpaceChoose</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.SpaceChoose</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>confirm</servlet-name>
  	<display-name>confirm</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.confirm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateBooking</servlet-name>
  	<display-name>UpdateBooking</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.UpdateBooking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Complaint</servlet-name>
  	<display-name>Complaint</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.Complaint</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getComplaints</servlet-name>
  	<display-name>getComplaints</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.getComplaints</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckDay</servlet-name>
  	<display-name>CheckDay</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.CheckDay</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckHours</servlet-name>
  	<display-name>CheckHours</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.CheckHours</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getDashBoard</servlet-name>
  	<display-name>getDashBoard</display-name>
  	<description></description>
  	<servlet-class>com.EMall.Controllers.getDashBoard</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>LoginAdmin</servlet-name>
  	<url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterNewSpace</servlet-name>
  	<url-pattern>/RegisterNewSpace</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCustomer</servlet-name>
  	<url-pattern>/LoginCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>book</servlet-name>
  	<url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getTables</servlet-name>
  	<url-pattern>/getTables</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SpaceChoose</servlet-name>
  	<url-pattern>/SpaceChoose</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>confirm</servlet-name>
  	<url-pattern>/confirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateBooking</servlet-name>
  	<url-pattern>/UpdateBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Complaint</servlet-name>
  	<url-pattern>/Complaint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getComplaints</servlet-name>
  	<url-pattern>/getComplaints</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckDay</servlet-name>
  	<url-pattern>/CheckDay</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckHours</servlet-name>
  	<url-pattern>/CheckHours</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getDashBoard</servlet-name>
  	<url-pattern>/getDashBoard</url-pattern>
  </servlet-mapping>


</web-app>
